/main.py
/lesson1/.ipynb_checkpoints/
/.ipynb_checkpoints/
/venv/
/lesson2/.ipynb_checkpoints/
/lesson1/bonus/.ipynb_checkpoints/1_bonus1-checkpoint.ipynb
/lesson2/bonus/.ipynb_checkpoints/2_bonus1-checkpoint.ipynb
/.idea/
/generator3.py
